<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<pluginGroups>	
		<pluginGroup>org.apache.maven.plugins</pluginGroup>
		<pluginGroup>org.codehaus.mojo</pluginGroup>
		<pluginGroup>org.apache.tomcat.maven</pluginGroup>
		<pluginGroup>org.sonatype.plugins</pluginGroup>
		<pluginGroup>com.jayway.maven.plugins.android.generation2</pluginGroup>
	</pluginGroups>

	<proxies>
	</proxies>

	<servers>
		<server>
			<id>releases</id>
			<username>admin</username>
			<password>admin123</password>
		</server>
		<server>
                        <id>snapshots</id>
                        <username>admin</username>
                        <password>admin123</password>
                </server>
	</servers>

	<mirrors>
		<mirror>
			<id>nexus</id>
			<mirrorOf>*</mirrorOf>
			<url>http://192.168.1.101:8081/nexus/content/groups/public</url>
		</mirror>
	</mirrors>

	<profiles>
		<profile>
			<id>QuickRide</id>
			<repositories>
				<repository>
					<id>QuickRide</id>
					<name>QuickRide</name>
					<url>http://183.221.125.150:8081/nexus/content/groups/public/</url>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>QuickRide</id>
					<name>QuickRide</name>
					<url>http://183.221.125.150:8081/nexus/content/groups/public/</url>
				</pluginRepository>
			</pluginRepositories>
		</profile>
		<profile>
			<id>EastSeven</id>
			<repositories>
				<repository>
					<id>EastSeven</id>
					<name>EastSeven</name>
					<url>http://42.121.82.61:8081/nexus/content/groups/public/</url>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>EastSeven</id>
					<name>EastSeven</name>
					<url>http://42.121.82.61:8081/nexus/content/groups/public/</url>
				</pluginRepository>
			</pluginRepositories>
		</profile>
		<profile>
                        <id>nexus</id>
                        <repositories>
                                <repository>
                                        <id>central</id>
                                        <url>http://central/</url>
					<releases><enabled>true</enabled></releases>
					<snapshots><enabled>true</enabled></snapshots>
                                </repository>
                        </repositories>
                        <pluginRepositories>
                                <pluginRepository>
                                	<id>central</id>
                                        <url>http://central/</url>
                                        <releases><enabled>true</enabled></releases>
                                        <snapshots><enabled>true</enabled></snapshots>
				</pluginRepository>
                        </pluginRepositories>
                </profile>
	</profiles>

	<activeProfiles>
		<activeProfile>nexus</activeProfile>
	</activeProfiles>
</settings>
